<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Supermecardo" />
	<meta name="viewport" content="width-device-width, initial-scale=1" />

	<title>twtter-UFBA</title>
	
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-responsive.css">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

	<div class="container-fluid" >
		<div class="espaco2">
			<div class="front-welcome-text centro">
				<h2>Faça suas postagens no Twitter-UFBA</h2>	
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">	
				<div class="span2 coluna">
					<div id="imagem"></div>
					<table cellspacing="0">	
						<tbody>
							<nav>
								{% for informacao in informacao%} 
									<p>Logado como {{informacao[0]}}</p>
								{% endfor %}
								<ul class="menu">  <!--MENU!-->
									
									<li><a href="/cliente">Home</a></li>                             
									<!--<li><a href="#">alterar senha</a></li>
									<li><a href="user">remover lista</a></li>-->
									<li><a href="/visualizar">visualizar</a></li>
									<li><a href="/logout">sair</a></li>
									
									
									</div>
								</ul>
           					</nav>
           				</tbody>	
					</table>
					</div>		 
				</div>
				
				<div class="span4 post">
					<div class="front-signin js-front-signin">	
						<form class="sigin-in" method="POST" action="/postarmensagem">	
							<input id="campo" type="text" placeholder="o que vc esta pensando?" name="produto" maxlength="140" required/>		

							<button type="submit" class="btn btn-lg btn-primary btn-block centro2">postar</button>        
						</form>
					</div>
					{% for mensagem in mensagem | reverse%}
						<div class="row">	
							<div class="col-md-6">
								
								<label class="radio-inline">
									<p>{{mensagem[0]}}</p>
									<p>{{mensagem[1]}}</p>
								</label>
							</div>	
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>

	</div>	

	<script type="text/javascript" src="js/bootstrap.js"></script>

</body>
</html>